@media screen {body {margin: 4em}}

@media print {body {font-family: "Palatino Linotype"}}
@media print {body {font-size: 9pt}}

@media all and (max-width: 800px) {body {margin: 1em}}

@page {size: A4 portrait}

body {
  font-family: "Palatino Linotype", "Bitstream Vera Serif", serif;
  font-size: 10pt;
  line-height: 1.4em;
  max-width: 40em;
  color: #000;
  background-color: #fff;
}

h1 {font-size: 1.4em}
h2 {font-size: 1.2em}
h3 {font-size: 1em}
h3 {font-weight: bold}

ol, ul {margin-left: 2em}
ul li {list-style-type: square;}

pre {
  font-size: 1em;
  padding: 0.5em 0.75em;
  border-style: dotted;
  border-width: 1px;
  border-color: #666;
  background-color: #fff;
}

pre.haskell {
  border-style: none;
  background-color: #eee;
}

code {
  font-size: 1em;
  font-family: monospace;
  color: #33f;
}

/*
img {
 display: block;
 margin-left: auto;
 margin-right: auto;
}
*/

pre code {color: #000}
pre.haskell code {background-color: #eee}

p.caption {display: none}
